@font-face {
    font-family: "BebasNeue-Bold";
    src: url("../fonts/BebasNeue-Bold.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue-Book";
    src: url("../fonts/BebasNeue-Book.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue-Light";
    src: url("../fonts/BebasNeue-Light.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue-Thin";
    src: url("../fonts/BebasNeue-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Dense-Regular";
    src: url("../fonts/Dense-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Ecuyer-DAX";
    src: url("../fonts/Ecuyer-DAX.ttf") format("truetype");
}

@font-face {
    font-family: "FFF-Tusj";
    src: url("../fonts/FFF-Tusj.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

body {
    margin: 0;
    overflow: visible;
}

#timeface{color:red!important;}/*removed on build*/

#timeface {
    font-variant: normal;
    font-weight: normal;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 1;
    overflow: visible;
    position: absolute;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: 0;
    width: 320px;
}

#timeface span {
    font-size: 0.5em;
    letter-spacing: normal;
    margin-left: -0.15em;
    vertical-align: super;
    display: none;
}

#timeface span:before {
    content: ' ';
}
